<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <style>
        body {
            background-image: url('../picture/img3.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <form action="../controller/LoginCheck.php" method="post" enctype="">
        <fieldset>
            <legend>Login:</legend>
            <tr>
                <td>username:</td>
                <td><input type="text" name="username" value=""></td>
            </tr>
            <br>
            <tr>
                <td>password:</td>
                <td><input type="password" name="password" value=""></td>
            </tr>
            <br>

            <tr>
                <td><input type="submit" name="" value="Login"></td>
                <td><a href="Registration.html">SignIn</a></td>
            </tr>
        </fieldset>
    </form>

</body>

</html>