<!DOCTYPE html>
<html>

<head>

    <title>Registration</title>
</head>

<body>
    <style>
        body {
            background-image: url('../picture/img7.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>

    <form onsubmit="return validate()">
        Username: <input type="text" id="username" name="" value="" /><br> Password: <input type="text" id="username" name="" value="" /><br> Email: <input type="text" id="email" name="" value="" /><br> Password: <input type="text" id="username" name=""
            value="" /><br> Password: <input type="text" id="username" name="" value="" /><br>
        <input type="submit" name="" id="submit" value="submit" /><br>
    </form>

    <script>
        function validate() {
            let name = document.getElementById("username").value;
            let email = document.getElementById("email").value;
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            let cpassword = document.getElementById("cpassword").value;

            if (username != "" && email != "" && username != "" && password != "" && cpassword != "") {
                return ture;
            } else if (name == "") {
                alert("null name");
                return false;
            } else if (email == "") {
                alert("null email");
                return false;
            } else if (username == "") {
                alert("null username");
                return false;
            } else if (password == "") {
                alert("null passwoed");
                return false;
            } else {
                alert("null Confirm Password");
                return false;
            }
        }
    </script>

    <form action="../controller/regCheck.php" method="post" enctype="">
        <fieldset>
            <legend>Registration</legend>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name" value="" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email" value="" /></td>
                </tr>
                <tr>
                    <td>UserName:</td>
                    <td><input type="text" name="username" value="" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" value="" /></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input type="password" name="password" value="" /></td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td><input type="radio" name="gender" value="male">Male</td>
                    <td><input type="radio" name="gender" value="female">Female</td>
                    <td><input type="radio" name="gender" value="other">Other</td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="submit" value="Submit">

                    </td>
                    <td><a href="Login.html">login</a></td>
                </tr>

            </table>

        </fieldset>
    </form>


</body>

</html>